<div class="main-container">
    <section id="timeline" class="timeline-outer">
      <div class="container" id="content">
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="blue-text lighten-1 header">Education</h1>
            <ul class="timeline">
              <li class="event" data-date="2019">
                <h3>Full Stack Development</h3>
                <p>
                  Completed Java Full Stack Development Course from Jspiders Training Institute Banglore.
                </p>
              </li>
              <li class="event" data-date="2014/2018">
                <h3>KLS Gogte Institute of Technology Belgaum (B.E)</h3>
                <p>
                  I perceived my Engineering from KLS Gogte Institute of Technology, which is one the top Engineering colleges in Karnataka.
                  With majors in Electrical and Electronics Engineering.
                </p>
                <p>Throughout my degree I have gained extensive knowledge of core engineering principles and it's application areas. including Human Computer Interaction, IOT, Green Energy,
                   This is where i developed my intrest in Web Development, AI, ML etc.
                </p>
                <p>
                  In my Engineering. Appart from my studies i have voluntered and participated in several technical fests like <br>
                  <b>Panchajanya, Avalanch 2K17, Tesla 2K17 </b><br>
                   And also participated in cultural fest <b>Aura</b>.
                </p>
              </li>
              <li class="event" data-date="2012/2014">
                <h3>Chetana Educational Trust(Pre University)</h3>
                <p>The pre-University was mainly focused on the basiis of Physics, Mathematics, and Chemistry.
                </p>
              </li>
              <li class="event" data-date="2012">
                <h3>Oriental Educational Trust(secondary school)</h3>
                <p>Completed My Secondary School from Oriental Educational Trust Ghataprabha</p>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <br/>
  </div>