<!-- start footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="logo">
                Umesh
            </div>
            <div class="social">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

<!-- start copyright -->
<section class="copyright">
    <div class="container">
        <p>© 2020 copyright all right reserved</p>
    </div>
</section>
<!-- end copyright -->