<!-- Start About -->
<section class="about-me">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>About Me</h1>
        <p class="small text-uppercase">A little About Me</p>
      </div>
    </div>
    <div class="row">
      <div class="about-content">
        <div class="row">
          <div class="img">
            <img src="https://homepages.cae.wisc.edu/~ece533/images/cat.png" alt="about-me" />
          </div>
          <div class="text">
            <h4>I'M Umesh Badiger</h4>
            <h6>A Junior <span>Software Developer</span> based in <span>India</span></h6>
            <p>As a full stack developer i have around 1 year of extensive hands on experience of developing, debugging, testing, and deploying web and mobile applications.
              - Have a good understanding of Coding, Debugging, Database queries and Unit Testing.
              
              As a qualified Software Engineer, I have good knowledge on application development & enhancement.
              </p>
              <div class="info">
                <div class="list">
                  <label for="">Birthday:</label>
                  <p>4th Sep 1996</p>
                </div>
                <div class="list">
                  <label for="">Email:</label>
                  <p>umeshbadiger395@gmail.com</p>
                </div>
                <div class="list">
                  <label for="">Phone:</label>
                  <p>8095295875</p>
                </div>
                <div class="list">
                  <label for="">Residence:</label>
                  <p>India</p>
                </div>
                <div class="list">
                  <label for="">Skype:</label>
                  <p>https://join.skype.com/invite/YbIletxCdzlN</p>
                </div>
                <div class="list">
                  <label for="">Upwork:</label>
                  <p>https://www.upwork.com/o/profiles/users/~015b615df34bb1f6ad/</p>
                </div>
                <div class="list">
                  <label for="">Fiverr:</label>
                  <p>Fiverr</p>
                </div>
              </div>
              <!-- Social Links -->
              <div class="social-links">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->