.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0px 15px;
    z-index: 10;
    /* background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80); */
    background-color: #0c0c17;
}
header.fixed{
    background-color: #ffffff;
    position: fixed;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}
header .fixed .brand-name a {
    color: #000000;
}

header .brand-name a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
    border-bottom: 1px solid #423940;
}
header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .fixed .navbar ul li a{
    color: #000000;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before{
    width: 100%;
    left: 0;
}