<div class="section" id="education">
    <div class="container cc-education">
      <h1 class="blue-text lighten-1 header">My Experience</h1>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>3/2019 - 12/2019</p>
              <div class="h5">Electem Business Solution</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Electem Business Solutions LLP</div>
               <h4 class="category">Full Stack Developer
               </h4>
               <ul>
                <li> I Worked in Electem Business Solution for around 1 year as Software Programmer. </li>
                <li>Here i contributed in developing project called <b>My Tech Reports</b>.</li>
                <li>Electem is a fast pased environment, where i learnt how to understand the clients requirments
                    and develivering the application in a short span of time satisfing the customer needs.</li>
                <li>Also i learnt how to work independently as well as in a team.</li>
                <li>Organisation also helped me develop Interpersonal Skills.</li>
                <li>I got apportunity to work on Trending technologys such as:</li>
                <li><b>Spring, Hibernate, JSF, Angular, PostgreSQL, Ionic, SVN, Unix shell, Mobile development...</b></li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>