<div class="skills" id="skill">
  <div class="container">
    <h1 class="blue-text lighten-1 header">Skills</h1>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">Core Java</span>
                <span class="progress-value">85%</span>
              </div >  
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">Spring</span>
                <span class="progress-value">80%</span>
            </div>
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">Hibernate</span>
                <span class="progress-value">80%</span>
              </div >  
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">MySQL/PostgraseSQL</span>
                <span class="progress-value">70%</span>
            </div>
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">Angular 8</span>
                <span class="progress-value">60%</span>
              </div >  
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">HTML%,CSS3,Javascript</span>
                <span class="progress-value">60%</span>
            </div>
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <div class="progressName-badge">
                <span class="progress-badge">ReactJs</span>
                <span class="progress-value">40%</span>
              </div >  
              <div class="progressName">
                  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>