/* @import url('https://homepages.cae.wisc.edu/~ece533/images/arctichare.png'); */



.home {
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1509395062183-67c5ad6faff9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}